<header class="bg-[#09172b] shadow-lg">
  <div class="container mx-auto px-4">
    <nav class="flex justify-between items-center py-5">
      <ul class="flex space-x-6">
        <li>
          <a class="text-[#ebf1ff] hover:text-[#ECC33E] transition duration-300 text-lg font-semibold" href="{{ path('home') }}">HOME</a>
        </li>
        <li>
          <a 
            class="text-[#ECC33E] text-lg font-semibold relative group"
            href="{{ path('jeux') }}"
          >
            GAMES
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-[#ECC33E] transform scale-x-0 transition-transform duration-300 origin-center group-hover:scale-x-100"></span>
          </a>
        </li>
        {% if app.user %}
          <li>
            <a class="text-[#ebf1ff] hover:text-[#ECC33E] transition duration-300 text-lg font-semibold" href="{{ path('forum') }}">FORUM</a>
          </li>
          <li>
            <a class="text-[#ebf1ff] hover:text-[#ECC33E] transition duration-300 text-lg font-semibold" href="{{ path('profil') }}">PROFILE</a>
          </li>
        {% endif %}
      </ul>
      <ul class="flex space-x-6">
        {% if app.user %}
          <li>
            <a class="bg-[#ECC33E] text-[#09172b] px-4 py-2 rounded-lg hover:bg-[#ebf1ff] transition duration-300 text-lg font-semibold" href="{{ path('logout') }}">LOGOUT</a>
          </li>
        {% else %}
          <li>
            <a class="text-[#ebf1ff] hover:text-[#ECC33E] transition duration-300 text-lg font-semibold" href="{{ path('register') }}">REGISTER</a>
          </li>
          <li>
            <a class="bg-[#ECC33E] text-[#09172b] px-4 py-2 rounded-lg hover:bg-[#ebf1ff] transition duration-300 text-lg font-semibold" href="{{ path('login') }}">LOGIN</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
