<section > 

  <header class="container-header">

      <nav>

        <ul>

          <li>
            <a class='nav-a is-current' href="{{ path('home') }}">ACCUEIL</a>
          </li>

          <li>
            <a class='nav-a' href="{{ path('jeux') }}">JEUX</a>
          </li>

          {% if app.user %}

          <li>
            <a class='nav-a' href="">FORUM</a>
          </li>

          <li>
            <a class='nav-a' href="">PROFIL</a>
          </li>

          <li>
            <a class='nav-a' href="{{ path('logout') }}">DECONNEXION</a>
          </li>

          {% else %}

          <li>
            <a class='nav-a' href="{{ path('register') }}">INSCRIPTION</a>
          </li>

          <li>
            <a class='nav-a' href="{{ path('login') }}">CONNEXION</a>
          </li>
        </ul>
        
        {% endif %}

      </nav>

  </header>

</section>
