{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur PlayRanker{% endblock %}

{% block body %}

<!-- -------------------------------------------------------  -->
<!-- SECTION PRINCIPALE -->

<main class="container-body">

    <!-- -------------------------------------------------------  -->
    <!-- TITRE PRINCIPAL ET DESCRIPTION -->

    <section class="header-section" id="bg-home">
    
      <h1> Welcome to  <b> PlayRanker </b> </h1>
      <h3>
        The first online space dedicated exclusively to game evaluation!  
        Whether you are a passionate gamer or a curious person looking for new challenges, 
        we are your ultimate reference. Discover our evaluations, 
        new tips to master your favorite games, and expert opinions to guide you in your choices.
      </h3>

      <div class="search-container">
        <form class="search-form" action="{{ path('search') }}" id="searchthis" method="post">
          <input class="search-input" id="search" name="input" type="text" placeholder="Search for a game" />
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </form>
      </div>

    </section>

    <!-- ------------------------------------------------------ -->
    <!-- -------------------- Cherchez-les -------------------- -->

    <section class="rate-section">
      <h2> Discover your favorite games,
        <div class="word-animation">
          <span class='red'> Unlimited, </span>
          <span class='red'> Fast, </span>
          <span class='red'> Free ! </span>
          <span class='red'> Unlimited </span>    
        </div>
      </h2>
    </section>

    <!-- ------------------------------------------------------ -->
    <!-- ------------------- Séparateur ----------------------- -->

      <section class="section-top">
        <div class="separator">
          <span>TOP 3 RATED GAMES</span>
        </div>
      </section>

    <!-- ------------------------------------------------------ -->   
    <!-- ------------- Top 3 des meilleurs notes -------------- -->

    <section class="section-top">
      <div class="container-card ">
          {% for topGame in topGames %}
              <div class="card ">
                  <div class="front-face">
                      <div class="content">
                          <h2 class="number">TOP {{ loop.index }}</h2>
                          <h2 class="title">{{ topGame.name }}</h2>
                          
                          <div class="bouton-card">
                              <a href="{{ path('detail_jeu', {'id': topGame.id}) }}"> Read more </a>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
    </section>

    <!-- ------------------------------------------------------ -->
    <!-- ------------------- Séparateur ----------------------- -->
    
    <div class="separator">
      <span>LATEST REVIEW</span>
    </div>

    <!-- ------------------------------------------------------ -->
    <!-- ------------------- Séparateur ----------------------- -->

    <section class="review-section">
      <div class="review-container ">
          {% for comment in comments %}
              <div class="review-content border-[3px] border-[#ECC33E]">
                  <div class="review-text ">
                      <h2>{{ comment.game.name }}</h2>
                      <p>{{ comment.content }}</p>
                      <div class="review-container-text">
                          <div class="bouton-review">
                              <a href="{{ path('detail_jeu', { id: comment.game.idGameApi }) }}">Read more</a>
                          </div>
                          <p>De <a href="#">{{ comment.user.pseudo }}</a> Le {{ comment.createdAt|date('d/m/Y') }}</p>
                      </div>
                  </div>
              </div>
          {% else %}
              <p>Aucun commentaire récent.</p>
          {% endfor %}
      </div>
      <button class="precedent">←</button>
      <button class="suivant">→</button>
    </section>
    

    <!-- ------------------------------------------------------ -->
    <!-- ------------------- Séparateur ----------------------- -->
    
    <div class="separator">
      <span>CONCTACT US</span>
    </div>

    <!-- ------------------------------------------------------ -->
    <!-- --------------------- contact ------------------------ -->
    
    <section class="contact-section">
      <div class="contact-container border-[3px] border-[#ECC33E] ">
          <form action="{{ path('contact') }}" method="post">
              {{ form_start(contactForm, {'attr': {'class': 'contact-form'}}) }}
  
              <div class="form-group">
                  {{ form_row(contactForm.pseudo, {'attr': {'class': 'form-input', 'placeholder': 'Your pseudo'}}) }}
              </div>
              <div class="form-group">
                  {{ form_row(contactForm.email,  {'attr': {'class': 'form-input', 'placeholder': 'Your email'}}) }}
              </div>
              <div class="form-group">
                  {{ form_row(contactForm.subject, {'attr': {'class': 'form-input', 'placeholder': 'Subject'}}) }}
              </div>
              <div class="form-group">
                  {{ form_row(contactForm.message, {'attr': {'class': 'form-textarea', 'placeholder': 'Your message'}}) }}
              </div>
              <div class="form-group">
                  {{ form_row(contactForm.submit,  {'attr': {'class': 'contact-btn'}}) }}
              </div>
  
              {{ form_end(contactForm) }}
          </form>
      </div>
  </section>
  
  
  

</main

{% endblock %}
