{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur PlayRanker{% endblock %}

{% block body %}

    <!-- SECTION PRINCIPALE -->

    <main class="container-body">

        <!-- TITRE PRINCIPAL ET DESCRIPTION -->
        <section class="">

            <section class="header-section space-y-4" id="bg-home">
            
            <h1> Welcome to  <b> PlayRanker </b> </h1>
            <h3>
                The first online space dedicated exclusively to game evaluation!  
                Whether you are a passionate gamer or a curious person looking for new challenges, 
                we are your ultimate reference. Discover our evaluations, 
                new tips to master your favorite games, and expert opinions to guide you in your choices.
            </h3>

            <div class="search-container py-4">
                <form class="search-form" action="{{ path('search') }}" id="searchthis" method="post">
                <input class="search-input" id="search" name="input" type="text" placeholder="Search for a game" />
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                </form>
            </div>

            <section class="container mx-auto px-4">
                <div class="flex flex-wrap -mx-4">
                    <!-- Section des catégories -->
                    <section class="w-full px-4 flex justify-center my-2">
                        <div class="flex flex-wrap justify-center gap-4">
                            {% for category in categories %}
                                <div class="relative w-[150px] text-center text-base">
                                    <h2 class="bg-[#09172b] border border-[#ECC33E] text-[#ebf1ff] px-4 py-2 rounded-lg hover:bg-[#ECC33E] hover:text-[#0C1D36] transition duration-300 cursor-pointer" onclick="toggleDropdown('dropdown-menu-{{ category.id }}')" aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-menu-{{ category.id }}">
                                        {{ category.name }}
                                    </h2>
                                    <div id="dropdown-menu-{{ category.id }}" class="hidden absolute mt-2 bg-[#09172b] border border-[#ECC33E] shadow-lg rounded-md z-10 w-full" role="menu" aria-labelledby="dropdown-menu-{{ category.id }}">
                                        {% for platform in category.platforms %}
                                            <a href="{{ path('searchByPlatform', { id: platform.id }) }}" class="block px-4 py-2 text-[#ebf1ff] hover:bg-[#ECC33E] hover:text-[#0C1D36] transition duration-300" role="menuitem">
                                                {{ platform.name }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </section>
        </section>


        <!-- Cherchez-les -->

        <section class="rate-section flex flex-col">
        <h2> Discover your favorite games,
            <div class="word-animation">
            <span class='red'> Unlimited, </span>
            <span class='red'> Fast, </span>
            <span class='red'> Free ! </span>
            <span class='red'> Unlimited </span>    
            </div>
        </h2>

        </section>

    <div class="bg-white py-10">
        <!-- Séparateur -->

        <section class="section-top">
            <div class="separator">
            <span>TOP 3 RATED GAMES</span>
            </div>
        </section>
    
    <!-- Top 3 des meilleurs notes -->

        <section class="section-top">
        <div class="container-card ">
            {% for topGame in topGames %}
                <div class="card ">
                    <div class="front-face">
                        <div class="content">
                            <h3 class="number">TOP {{ loop.index }}</h3>
                            <h2 class="title">{{ topGame.name }}</h2>
                            <div class="bouton-card">
                                <a href="{{ path('detail_jeu', {'id': topGame.id}) }}"> Read more </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </section>

        </div>

    <section class="py-10">
        <div class="separator">
            <span>UPCOMING 2025 GAMES</span>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-4 py-8 max-w-7xl mx-auto">
            <div class="relative overflow-hidden rounded-lg group hover:-translate-y-2 transition-all duration-300">
                <img src="https://cdn1.epicgames.com/spt-assets/ca9ef1bcf2f54043baac351366aec677/black-myth-wukong-jjjfw.png" alt="Black Myth: Wukong" class="w-full h-[500px] object-cover transition-transform duration-500 group-hover:scale-110">
                <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent flex items-end opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="p-4">
                        <h3 class="text-white text-xl font-bold">Black Myth: Wukong</h3>
                        <p class="text-gray-200">Release: August 20, 2025</p>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden rounded-lg group hover:-translate-y-2 transition-all duration-300">
                <img src="https://www.starwars-universe.com/images/fans/fanarts/27714/affiche_kotor.jpg" alt="Star Wars: Knights of the Old Republic Remake" class="w-full h-[500px] object-cover transition-transform duration-500 group-hover:scale-110">
                <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent flex items-end opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="p-4">
                        <h3 class="text-white text-xl font-bold">Star Wars: KOTOR Remake</h3>
                        <p class="text-gray-200">Expected: 2025</p>
                    </div>
                </div>
            </div>

            <div class="relative overflow-hidden rounded-lg group hover:-translate-y-2 transition-all duration-300">
                <img src="https://store-images.s-microsoft.com/image/apps.29572.14301289549560004.21a931ed-1596-4a2b-8642-73be42254d40.7beda2e8-b7df-4758-8e87-9052559824a2" alt="Senua's Saga: Hellblade II" class="w-full h-[500px] object-cover transition-transform duration-500 group-hover:scale-110">
                <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent flex items-end opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="p-4">
                        <h3 class="text-white text-xl font-bold">Senua's Saga: Hellblade II</h3>
                        <p class="text-gray-200">Expected: 2025</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class=" bg-white py-10">
        <!-- Séparateur -->
        
        <div class="separator">
        <span>LATEST REVIEW</span>
        </div>

        <!-- Séparateur -->

        <div class="review-section ">
        <div class="review-container ">
            {% for comment in comments %}
                <div class="review-content border-[3px] border-[#ECC33E]">
                    <div class="review-text ">
                        <h2>{{ comment.game.name }}</h2>
                        <p>{{ comment.content }}</p>
                        <div class="review-container-text">
                            <div class="bouton-review">
                                <a href="{{ path('detail_jeu', { id: comment.game.idGameApi }) }}">Read more</a>
                            </div>
                                <p>De <a href="{{ path('lienProfile', { username: comment.user.username }) }}">{{ comment.user.username }}</a> Le {{ comment.createdAt|date('d/m/Y') }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun commentaire récent.</p>
            {% endfor %}
        </div>
        <button class="precedent">←</button>
        <button class="suivant">→</button>
        </div>
    </section>

    <section class="flex flex-col py-10 rounded-lg shadow-lg p-6">
        <!-- Separator -->
        <div class="separator mb-4 text-center">
            <span class="text-xl font-bold text-[#ECC33E]">DISCORD COMMUNITY</span>
        </div>

        <!-- Discord Button -->
        <div class="flex flex-col py-16 items-center justify-center  ">
            <div style="text-align: center; box-shadow: 0 4px 8px black; padding: 60px 150px; border: 3px solid #ECC33E; border-radius: 15px; background-color: #0C1D36; color: #ECC33E;">
                <h2 style="font-size: 60px; padding-bottom: 30px;">🌟 Join Our Discord Community! 🌟</h2>
                <p style="font-size: 30px; color: white;">Dive into the world of PlayRanker and connect with fellow enthusiasts!</p>
                <p style="font-size: 30px; color: white; padding-bottom: 15px;">On our Discord server, you'll have the opportunity to:</p>

                <ul style="list-style-type: none; padding: 0;">
                    <li style="font-size: 20px; color: white;">🎮 Exchange tips and tricks about your favorite games</li>
                    <li style="font-size: 20px; color: white;">🏆 Participate in exclusive events and group games</li>
                    <li style="font-size: 20px; color: white;">🗣️ Share your experiences and discover new things</li>
                    <li style="font-size: 20px; color: white;">📦 Enjoy unique content reserved for members</li>
                </ul>
                <p style="font-size: 20px; color: white;">👉 Don’t miss out! Click the button below to</p>
                <p style="font-size: 20px; color: white; padding-bottom: 20px;">join our community and experience something amazing!</p>
                <div class="flex justify-center">
                    <a href="https://discord.com/invite/WkR5WE4N?utm_source=Discord%20Widget&utm_medium=Connect" target="_blank" class="text-[#ECC33E] my-4 w-full md:w-1/2 p-2 flex items-center justify-center bg-blue-600 hover:bg-blue-700 rounded-lg transition duration-300 ease-in-out shadow-md">
                        <img src="/img/discord.png" alt="Discord Logo" class="w-8 h-8 rounded-full object-cover mr-2">
                        <p class="text-white text-sm font-semibold">Join Our Discord</p>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class=" bg-white py-10">
        <!-- Séparateur -->
        
        <div class="separator">
        <span>CONCTACT US</span>
        </div>

        <!-- contact -->
        
        <div class="contact-section">

        <div class="contact-container border-[3px] border-[#ECC33E] ">
        
            <form action="{{ path('contact') }}" method="post">
                {{ form_start(contactForm, {'attr': {'class': 'contact-form'}}) }}
                <div class="form-group">
                    {{ form_row(contactForm.email,  {'attr': {'class': 'form-input', 'placeholder': 'Your email'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(contactForm.subject, {'attr': {'class': 'form-input', 'placeholder': 'Subject'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(contactForm.content, {'attr': {'class': 'form-textarea', 'placeholder': 'Your message'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(contactForm.submit,  {'attr': {'class': 'contact-btn'}}) }}
                </div>
    
                {{ form_end(contactForm) }}
            </form>
        </div>

    </section>

    <section>
        <div class="container_logos">
            <div class="logos">
                <span class="text">
                    <img class='img-logo' src="https://static.wixstatic.com/media/a3b24b_0a6f7e71a4ce4ce69c50e06d56ef3765~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_d566a396652348b99d02cf2eabfb2a81~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_c58073dfc3e34b338ab8e0fc0ac33ca1~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_d5dbb74529ea48b39c18d514d7d235ce~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_c6e535011c5146179d28d66b560dd1d9~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_4a0b4ebfe3f1420392ba042db325670f~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_10416e506e9845c495f9173396680b13~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_847a3e3f90ce4420a1ed5f59ef2a7c7d~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_1c73ce6a1784425cbf3e28627fc10b25~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_3979b21f636543b1ba018ec468368904~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_20aac76d1b574533b225a8b323aa8286~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_0d00e00e54a043e48d78d02bf7955344~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_2adb8b55789146afa932d5eb4d54f5d0~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_3eb7d3ed62ca4deb9d10655047f6485c~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_5f889d54056c44aaae44a80c9eb70e9b~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_7f4e4c041cab457dad074be59b260fc2~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_27359d6e606442718f034db8fb53d7cb~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_9f3908615eb6449585e2507df629b8ea~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_d2eda575fad04756b6a433420216f0f7~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_ae911dc40381414c989a9e7e3328bd5d~mv2.png" />
                    <img class='img-logo'  src="https://static.wixstatic.com/media/a3b24b_23eaadb96c8941218de1eb823459dc28~mv2.png" />
                </span>
            </div>
        </div>
    </section>

    </main

{% endblock %}
