{% extends 'base.html.twig' %}

{% block title %} Edit my profile {% endblock %}

{% block body %}

<div class="container-profil">
    <div class="profil-container">
        <div class="profil-section">
            <div class="profil-card">
                <div class="profil-title">
                    <h1>Edit my profile</h1>
                </div>
                <div class="profil-card-content">
                    <div class="profil-user-info">
                        {% if user %}
                            <img src="{{ user.avatar }}" alt="Photo de Profil" class="profil-image">
                        {% else %}
                            <img src="https://static.vecteezy.com/ti/vecteur-libre/p3/36280650-defaut-avatar-profil-icone-social-medias-utilisateur-image-gris-avatar-icone-vide-profil-silhouette-vecteur-illustration-vectoriel.jpg" alt="Photo de Profil" class="profil-image">
                        {% endif %}
                        <div class="profil-user-details">
                            {% if user %}
                                {{ form_start(form) }}

                                <p><b>Pseudo :</b> <span>{{ user.pseudo }}</span> {{ form_widget(form.pseudo, { 'attr': { 'class': 'input-box-email', 'placeholder': 'New nickname' } }) }}</p>
                                <p><b>Email :</b> <span>{{ user.email }}</span> {{ form_widget(form.email, { 'attr': { 'class': 'input-box-email', 'placeholder': 'New email' } }) }}</p>
                                
                            {% else %}
                                <p>No users found. Please login.</p>
                            {% endif %}
                        </div>
                    </div>
                        <button class="increment-button" type="submit">To validate</button>
                        {{ form_end(form) }}
                        
                        <a class="increment-button" href="{{ path('profil') }}">Back to profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
