{% extends 'base.html.twig' %}

{% block title %} My Profile {% endblock %}

{% block body %}
<div>
    <section class="container-profil">
        <section class="profil-container">
            <div class="profil-section">
                <div class="profil-card">
                    <div class="profil-title">
                        <h1>My Profile</h1>
                    </div>
                    <div class="profil-card-content">
                        <div class="profil-user-info">
                            {% if user %}
                                <img src="{{ user.avatar }}" alt="Photo de Profil" class="profil-image">
                            {% else %}
                                <img src="https://static.vecteezy.com/ti/vecteur-libre/p3/36280650-defaut-avatar-profil-icone-social-medias-utilisateur-image-gris-avatar-icone-vide-profil-silhouette-vecteur-illustration-vectoriel.jpg" alt="Photo de Profil" class="profil-image">
                            {% endif %}
                            <div class="profil-user-details">
                            {% if user %}
                                <p><b>Pseudo :</b> <span>{{ user.pseudo }}</span></p>
                                <p><b>Email :</b> <span>{{ user.email }}</span></p>
                            {% else %}
                                <p>No users found. Please log in</p>
                            {% endif %}
                        </div>
                    </div>
                    <button  ><a class="increment-button" href="{{ path('edit_profile') }}">Edit my profile</a></button>
                </div>
            </div>
        </div>
    </section>

    <section class="container-profil">
        <section class="profil-container">
            <div class="profil-section">
                <div class="profil-card">
                    <div class="profil-title">
                        <h1>My Gamelist</h1>
                    </div>
                    <div>
                    <a class="increment-button" href="{{ path('jeux') }}"> Search game</a>
                    </div>
                </div>
            </div>
        </section>
    </section>



</div>
{% endblock %}
