{% extends 'base.html.twig' %}

{% block title %} My Profile {% endblock %}

{% block body %}
<div class="min-h-screen bg-[#97b4e0] py-8">
    <div class="container mx-auto p-4 ">
        <!-- Section Profil Utilisateur -->
        <section class="bg-[#0C1D36] shadow-lg rounded-lg p-6 transition-transform duration-300 border-[3px] border-[#ECC33E] hover:shadow-xl">
            <div class="flex flex-col py-7 items-center md:flex-row">
                <!-- Profil Utilisateur -->
                <div class="w-full md:w-1/2">
                    <h2 class="text-4xl text-center font-bold text-[#ECC33E] mb-6">My Profile</h2>
                    <div class="flex flex-col items-center">
                        {% if user %}
                            <!-- Affichage de l'avatar de l'utilisateur -->
                            <img src="{{ user.avatar ?? 'https://img.freepik.com/vecteurs-premium/icone-profil-avatar-par-defaut-image-utilisateur-medias-sociaux-icone-avatar-gris-silhouette-profil-vide-illustration-vectorielle_561158-3383.jpg' }}" 
                                alt="Profile Picture of {{ user.pseudo }}" 
                                class="w-48 h-48 rounded-full border-4 border-[#ECC33E] transition-transform duration-500 transform hover:scale-110">
                            <div class="mt-4 text-start text-white ">

                                <!-- Affichage du pseudo de l'utilisateur -->
                                <p class="mb-2"><span class="text-[20px] text-[#ECC33E] font-bold"> Pseudo : </span> <span class="text-[20px]">{{ user.pseudo }}</span></p>

                                <!-- Affichage de l'email de l'utilisateur -->
                                <p class="mb-2"><span class="text-[20px] text-[#ECC33E] font-bold"> Email : </span> <span class="text-[20px]">{{ user.email }}</span></p>

                                <!-- Affichage du nombre de sujets créés par l'utilisateur -->
                                <p class="mb-2"><span class="text-[20px] text-[#ECC33E] font-bold"> Topics created : </span> <span class="text-[20px]">{{ user.topics|length }}</span></p>

                                <!-- -->
                                <p class="mb-2"><span class="text-[20px] text-[#ECC33E] font-bold"> Gamertag Playstation : </span> <span class="text-[20px]"> {{ user.gamerTagPlaystation }}</span></p>

                                <!-- -->
                                <p class="mb-2"><span class="text-[20px] text-[#ECC33E] font-bold"> Gamertag Xbox : </span> <span class="text-[20px]"> {{ user.gamerTagXbox }}</span></p>

                                <!-- -->
                                <p class="mb-2"><span class="text-[20px] text-[#ECC33E] font-bold"> Youtube : </span> <span class="text-[20px]"> {{ user.youtube }}</span></p>

                                <!-- -->
                                <p class="mb-2"><span class="text-[20px] text-[#ECC33E] font-bold"> Twitch : </span> <span class="text-[20px]"> {{ user.twitch }}</span></p>

                        {% else %}
                            <!-- Message d'erreur si aucun utilisateur n'est trouvé -->
                            <p class="text-red-500">No users found. Please log in</p>
                        {% endif %}
                        
                        <div class="flex mt-6 space-x-4">
                            <!-- Lien pour éditer le profil -->
                            <a href="{{ path('edit_profil', { id: user.id }) }}" class="bg-[#ECC33E] hover:bg-orange-400 text-white font-semibold py-2 px-4 rounded-lg shadow-lg transition duration-300 transform hover:scale-105">
                                Edit
                            </a>
                            <!-- Formulaire pour supprimer le profil -->
                            <form action="{{ path('delete_profil') }}" method="post">
                                <button type="submit" class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-lg shadow-lg transition duration-300 transform hover:scale-105">
                                    <i class='fas fa-trash-can'></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                </div>

                <!-- Sujets de l'utilisateur -->
                <div class="w-full md:w-1/2 mt-6 md:mt-0 ">
                    <h3 class="font-semibold text-[#ECC33E] text-center mb-4 text-3xl">My Topics</h3>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-2 ">
                        {% for topic in user.topics %}
                            <!-- Lien vers chaque sujet créé par l'utilisateur -->
                            <a href="{{ path('post', { id: topic.id }) }}" class="bg-[#09172b] p-2 rounded-lg content-center border-[1px] border-[#ECC33E] text-center text-[14px] text-white hover:bg-[#ECC33E] hover:text-[#09172b] transition duration-200">
                                {{ topic.title }}
                            </a>
                        {% else %}
                            <!-- Message si aucun sujet n'a été créé -->
                            <p class="text-gray-400 col-span-full text-center">No topics created yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </section>

        <!-- Section Listes de Jeux de l'utilisateur -->
        <section class="mt-8">
            {% if gamesLists|length == 0 %}
                <!-- Message si aucune liste de jeux n'est disponible -->
                <p class="text-white text-center">No games available in your list.</p>
            {% else %}
                {% for type in types %}
                    <div class="bg-[#0C1D36] border-[3px] border-[#ECC33E] text-[#ECC33E] my-4 shadow-lg rounded-lg p-6 transition-transform duration-300 hover:shadow-xl">
                        <h2 class="text-3xl text-center mb-4">{{ type.name }}</h2>

                        {% set filteredGames = gamesLists|filter(g => g.type and g.type.id == type.id) %}

                        {% if filteredGames|length == 0 %}
                            <!-- Message si aucun jeu n'est disponible pour ce type -->
                            <p class="text-white text-center">No games available for this type.</p>
                        {% else %}
                            <ul class="space-y-2 grid md:grid-cols-2 lg:grid-cols-3">
                        {% for gamesList in filteredGames %}
                            {% if gamesList.game is not null %}
                                <!-- Lien vers chaque jeu disponible dans la liste -->
                                <li class="text-center">
                                
                                    <a href="{{ path('detail_jeu', {'id': gamesList.game.idGameApi}) }}" class="text-white hover:text-[#ECC33E] transition duration-300 ease-in-out">
                                        {{ gamesList.game.name }}
                                    </a>
                                </li>
                            {% else %}
                                <!-- Message si le jeu n'est pas disponible -->
                                <li class="text-center text-gray-400">Game not available</li>
                            {% endif %}
                        {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="text-center mt-4">
                            <!-- Lien pour rechercher des jeux -->
                            <a href="{{ path('jeux', { 'page': 1 }) }}" class="inline-block bg-[#ECC33E] text-[15px] hover:bg-[#09172b] text-[#09172b] hover:text-[#ECC33E] font-semibold py-2 px-4 rounded-lg shadow-lg transition duration-300 transform hover:scale-105">
                                Search Game
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </section>

    </div>
</div>
{% endblock %}