{% extends 'base.html.twig' %}

{% block title %} My Profile {% endblock %}

{% block body %}
<div>
    <section class="container-profil">
        <section class="profil-container">
            <div class="profil-section">
                <div class="profil-card">
                    <div class="profil-title">
                        <h1>My Profile</h1>
                    </div>
                    <div class="profil-card-content">
                        <div class="profil-user-info">
                            {% if user %}
                                <!-- Affiche l'avatar de l'utilisateur s'il existe -->
                                <img src="{{ user.avatar }}" alt="Photo de Profil de {{ user.pseudo }}" class="profil-image">
                            {% else %}
                                <!-- Affiche une image par défaut si l'utilisateur n'est pas connecté -->
                                <img src="https://via.placeholder.com/50" alt="Photo de Profil par défaut" class="profil-image">
                            {% endif %}
                            <div class="profil-user-details">
                                {% if user %}
                                    <!-- Affiche les détails de l'utilisateur s'il est connecté -->
                                    <p><b>Pseudo : </b> <span>{{ user.pseudo }} </span></p>
                                    <p><b>Email  : </b> <span>{{ user.email }}  </span></p>
                                {% else %}
                                    <!-- Message à afficher si aucun utilisateur n'est trouvé -->
                                    <p>No users found. Please log in</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button  ><a class="increment-button" href="{{ path('edit_profile') }}">Edit my profile</a></button>
                </div>
            </div>
        </div>
    </section>

    <section class="container-profil">
        <section class="profil-container">
            <div class="profil-section">
                <div class="profil-card">
                    <div class="profil-title">
                        <h1>My favorites</h1>
                    </div>


                    
                    <div>
                    <a class="increment-button" href="{{ path('jeux') }}"> Search game</a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="container-profil">
        <section class="profil-container">
            <div class="profil-section">
                <div class="profil-card">
                    <div class="profil-title">
                        <h1>My Gamelist</h1>
                    </div>



                    <div>
                    <a class="increment-button" href="{{ path('jeux') }}"> Search game</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
{% endblock %}
