{% extends 'base.html.twig' %}

{% block title %}login{% endblock %}

{% block body %}

<div class="bg-login">
    <div class="form-container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1 class="login-h1">Connexion</h1>

            <section class="section-input">

                {# Affichage des erreurs pour l'email #}
                <div class="input-box" >
                    <label class="required" for="email-label">Email</label>
                    <input class="input-box-email" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus placeholder="Email">
                    <i class='bx bx-envelope'></i>
                    {% if error and error.messageKey == 'Invalid credentials.' %}
                        <div class="alert alert-danger">Identifiants invalides</div>
                    {% endif %}
                </div>
        
                {# Affichage des erreurs pour le mot de passe #}
                <div class="input-box" >
                    <label class="required" for="mdp-label">Mot de passe</label>
                    <input class="input-box-mdp" type="password" name="password" id="inputPassword" autocomplete="current-password" required placeholder="Mot de passe" > <i class='bx bx-lock-alt' ></i> 
                    
                    {% if error and error.messageKey == 'Invalid credentials.' %}
                        <div class="alert alert-danger">Mot de passe incorrect</div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>

            </section>

            <div class="remember">
                <label> <input type="checkbox" name="_remember_me"> Se souvenir de moi </label>
                {# <a href="{{ path('reset_password') }}">Mot de passe oublier ?</a> #}
            </div>

            <button type="submit" class="btn-login">Se connecter</button>
            <div >
                <small class="small"> * = Champs obligatoire</small>
            </div>

            <div class="register">
                <p>Vous n'avez pas de compte ? <br> 
                <a href="{{ path('register') }}">Inscription</a></p>
            </div>

        </form>
    </div>
</div>

{% endblock %}

