{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="bg-inscription bg-common">
  <div class="form-container">
    <h1 class="register-title">Inscription</h1>
    
    <!-- Affichage des erreurs globales du formulaire -->
    {{ form_errors(registrationForm) }}
    
    <!-- Début du formulaire -->
    {{ form_start(registrationForm) }}

          <!-- Champ email avec les erreurs -->
      <div class="input-box">
        {{ form_label(registrationForm.pseudo, 'Pseudo') }}
        {{ form_widget(registrationForm.pseudo, { 'attr': { 'class': 'input-box-email', 'placeholder': 'Entrez votre pseudo' } }) }}
        {{ form_errors(registrationForm.pseudo) }}
      </div>

      <!-- Champ email avec les erreurs -->
      <div class="input-box">
        {{ form_label(registrationForm.email, 'Email') }}
        {{ form_widget(registrationForm.email, { 'attr': { 'class': 'input-box-email', 'placeholder': 'Entrez votre email' } }) }}
        {{ form_errors(registrationForm.email) }}
      </div>

      <!-- Champ mot de passe avec les erreurs -->
      <div class="input-box">
        {{ form_label(registrationForm.plainPassword.first, 'Mot de passe') }}
        <div class="password-wrapper">
          {{ form_widget(registrationForm.plainPassword.first, { 'attr': { 'class': 'input-box-mdp', 'id': 'inputPassword', 'placeholder': 'Mot de passe' } }) }}
        </div>
        {{ form_errors(registrationForm.plainPassword.first) }}
      </div>

      <!-- Champ confirmation du mot de passe avec les erreurs -->
      <div class="input-box">
        {{ form_label(registrationForm.plainPassword.second, 'Confirmez votre mot de passe') }}
        <div class="password-wrapper">
          {{ form_widget(registrationForm.plainPassword.second, { 'attr': { 'class': 'input-box-mdp', 'id': 'inputConfirmPassword', 'placeholder': 'Confirmer le mot de passe' } }) }}
        </div>
        {{ form_errors(registrationForm.plainPassword.second) }}
      </div>

      <!-- Champ des conditions d'utilisation avec les erreurs -->
      <div class="form-group">
        <label>
          {{ form_widget(registrationForm.agreeTerms) }}
          <a class="required" href="#">J'accepte les conditions d'utilisation</a>
        </label>
        {{ form_errors(registrationForm.agreeTerms) }}
      </div>

      <!-- Bouton de soumission -->
      <button type="submit" class="btn-register">S'inscrire</button>
      <div>
        <small> * = Champs obligatoire</small>
      </div>
    {{ form_end(registrationForm) }}
  </div>
</div>

{% endblock %}
