{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="min-h-screen flex items-center justify-center bg-[#97b4e0] py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 bg-[#09172b] p-8 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-center text-[#ECC33E]">Registration</h1>
  
    {{ form_errors(registrationForm) }}
  
    {{ form_start(registrationForm, {'attr': {'class': 'mt-8 space-y-6'}}) }}
      <div class="-space-y-px rounded-md shadow-sm">
        <div class="mb-4">
          {{ form_label(registrationForm.username, 'Username',  {'label_attr': {'class': 'text-[#ECC33E] font-bold mb-3'}}) }}
          {{ form_widget(registrationForm.username, { 'attr': { 'class': 'appearance-none rounded-none relative mt-1 block w-full px-3 py-2 border border-[#ECC33E] placeholder-gray-500 text-[#ebf1ff] rounded-t-md focus:outline-none focus:ring-[#ECC33E] focus:border-[#ECC33E] focus:z-10 sm:text-sm bg-[#0C1D36]', 'placeholder': 'Enter your username' } }) }}
          {{ form_errors(registrationForm.username) }}
        </div>

        <div class="mb-4">
          {{ form_label(registrationForm.email, 'Email',  {'label_attr': {'class': 'text-[#ECC33E] font-bold '}}) }}
          {{ form_widget(registrationForm.email, { 'attr': { 'class': 'appearance-none rounded-none relative block w-full mb-3 mt-1 px-3 py-2 border border-[#ECC33E] placeholder-gray-500 text-[#ebf1ff] focus:outline-none focus:ring-[#ECC33E] focus:border-[#ECC33E] focus:z-10 sm:text-sm bg-[#0C1D36]', 'placeholder': 'Enter your email' } }) }}
          {{ form_errors(registrationForm.email) }}
        </div>

        <div class="mb-4">
          {{ form_label(registrationForm.plainPassword.first, 'Password',  {'label_attr': {'class': 'text-[#ECC33E] font-bold mb-3'}}) }}
          {{ form_widget(registrationForm.plainPassword.first, { 'attr': { 'class': 'appearance-none rounded-none relative mb-3 mt-1 block w-full px-3 py-2 border border-[#ECC33E] placeholder-gray-500 text-[#ebf1ff] focus:outline-none focus:ring-[#ECC33E] focus:border-[#ECC33E] focus:z-10 sm:text-sm bg-[#0C1D36]', 'id': 'inputPassword', 'placeholder': 'Password' } }) }}
          {{ form_errors(registrationForm.plainPassword.first) }}
        </div>

        <div class="mb-4">
          {{ form_label(registrationForm.plainPassword.second, 'Confirm your password',  {'label_attr': {'class': 'text-[#ECC33E] font-bold mb-3'}}) }}
          {{ form_widget(registrationForm.plainPassword.second, { 'attr': { 'class': 'appearance-none rounded-none relative block mt-1 w-full px-3 py-2 border border-[#ECC33E] placeholder-gray-500 text-[#ebf1ff] rounded-b-md focus:outline-none focus:ring-[#ECC33E] focus:border-[#ECC33E] focus:z-10 sm:text-sm bg-[#0C1D36]', 'id': 'inputConfirmPassword', 'placeholder': 'Confirm password' } }) }}
          {{ form_errors(registrationForm.plainPassword.second) }}
        </div>
      </div>

      <div class="flex items-center">
        {{ form_widget(registrationForm.agreeTerms, { 'attr': { 'class': 'h-4 w-4 text-[#ECC33E] focus:ring-[#ECC33E] border-[#ECC33E] rounded' } }) }}
        <label for="{{ registrationForm.agreeTerms.vars.id }}" class="ml-2 block text-sm text-[#ebf1ff]">
          <a href="https://www.privacypolicies.com/live/bc5dfcac-62af-4795-9f36-3e2f4ba6604d" class="text-[#ECC33E] hover:underline">I agree to the terms of service</a>
        </label>
      </div>
      {{ form_errors(registrationForm.agreeTerms) }}

      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-[#0C1D36] bg-[#ECC33E] hover:bg-[#ebf1ff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#ECC33E]">
          Register
        </button>
      </div>
      <div class="text-xs text-[#ebf1ff]">
        <b class="text-red-500">*</b> = Required fields
        <p>Do you have an account? <a href="{{ path('login') }}" class="text-[#ECC33E] hover:underline">Login</a></p>
      </div>

    {{ form_end(registrationForm) }}
  </div>
</div>
{% endblock %}
