{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

<div class="background-inscription">
  <div class="form-wrapper">
    <h1 class="register-heading">Registration</h1>
    
    <!-- Display global form errors -->
    {{ form_errors(registrationForm) }}
    
    <!-- Start of the form -->
    {{ form_start(registrationForm) }}

      <!-- Pseudo field with errors -->
      <div class="input-field">
        {{ form_label(registrationForm.pseudo, 'Username') }}
        {{ form_widget(registrationForm.pseudo, { 'attr': { 'class': 'input-field-text', 'placeholder': 'Enter your username' } }) }}
        {{ form_errors(registrationForm.pseudo) }}
      </div>

      <!-- Email field with errors -->
      <div class="input-field">
        {{ form_label(registrationForm.email, 'Email') }}
        {{ form_widget(registrationForm.email, { 'attr': { 'class': 'input-field-text', 'placeholder': 'Enter your email' } }) }}
        {{ form_errors(registrationForm.email) }}
      </div>

      <!-- Password field with errors -->
      <div class="input-field">
        {{ form_label(registrationForm.plainPassword.first, 'Password') }}
        <div class="password-container">
          {{ form_widget(registrationForm.plainPassword.first, { 'attr': { 'class': 'input-field-password', 'id': 'inputPassword', 'placeholder': 'Password' } }) }}
        </div>
        {{ form_errors(registrationForm.plainPassword.first) }}
      </div>

      <!-- Confirm password field with errors -->
      <div class="input-field">
        {{ form_label(registrationForm.plainPassword.second, 'Confirm your password') }}
        <div class="password-container">
          {{ form_widget(registrationForm.plainPassword.second, { 'attr': { 'class': 'input-field-password required', 'id': 'inputConfirmPassword', 'placeholder': 'Confirm password' } }) }}
        </div>
        {{ form_errors(registrationForm.plainPassword.second) }}
      </div>

      <!-- Terms of service acceptance field with errors -->
      <div class="terms-acceptance">
        <label>
          {{ form_widget(registrationForm.agreeTerms) }}
          <a class="terms-link" href="#">I agree to the terms of service</a>
        </label>
        {{ form_errors(registrationForm.agreeTerms) }}
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn-submit">Register</button>
      <div>
        <small><b class="required-red">*</b> = Required fields</small>
      </div>

    {{ form_end(registrationForm) }}
  </div>
</div>

{% endblock %}
