{% extends 'base.html.twig' %}

{% block title %} {{ gameDetail.name }} {% endblock %}

{% block body %}
<div class="bg-[#97b4e0]">
    <section class=" text-white min-h-screen py-10 flex-1">
        <section class="container mx-auto px-4">
            <div class="relative rounded-lg border-2 border-[#ECC33E] overflow-hidden shadow-xl">
                <img src="{{ gameDetail.background_image }}" alt="{{ gameDetail.name }}" class="w-full h-[500px] object-cover">
                    <div class="absolute inset-0 bg-black bg-opacity-60 flex flex-col justify-center items-center p-8">
                    <h1 class="text-4xl md:text-6xl font-bold mb-8 text-center">{{ gameDetail.name }}</h1>
                    
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-4xl">
                        {% set details = {
                            'Release Date': gameDetail.released|date("m/d/Y"),
                            'Publisher(s)': gameDetail.publishers|map(p => p.name)|join(', '),
                            'Developer(s)': gameDetail.developers|map(d => d.name)|join(', '),
                            'Genre(s)':     gameDetail.genres|map(g => g.name)|join(', '),
                            'ESRB Rating':  gameDetail.esrb_rating.name|default('Not Rated'),
                            'Metacritic':   gameDetail.metacritic ~ ' out of 100'
                        } %}

                        {% for label, value in details %}
                            <div class="text-center">
                                <h3 class="text-xl font-semibold text-[#ECC33E] mb-2">{{ label }}</h3>
                                <p>{{ value }}</p>
                            </div>
                        {% endfor %}

                        {% if gameDetail.metacritic_url %}
                            <div class="text-center">
                                <h3 class="text-xl font-semibold text-[#ECC33E] mb-2">Metacritic Page</h3>
                                <a href="{{ gameDetail.metacritic_url }}" class="hover:text-[#ECC33E] transition duration-300">View on Metacritic</a>
                            </div>
                        {% endif %}

                        {% if gameDetail.website %}
                            <div class="text-center">
                                <h3 class="text-xl font-semibold text-[#ECC33E] mb-2">Official Website</h3>
                                <a href="{{ gameDetail.website }}" class="hover:text-[#ECC33E] transition duration-300">Visit Website</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    
        <section class="container mx-auto px-4 mt-10">

            <div class="flex flex-wrap justify-center space-x-10 ">
                <!-- Section 1 : Platforms -->
                <section class="flex-1">
                    <h3 class="text-2xl font-bold text-[#0C1D36] mb-4">Platforms</h3>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                        {% set platform_logos = {
                            'PlayStation 1': 'img/ps1.png',
                            'PlayStation 2': 'img/ps2.png',
                            'PlayStation 3': 'img/ps3.png',
                            'PlayStation 4': 'img/ps4.png',
                            'PlayStation 5': 'img/ps5.png',
                            'PS Vita':       'img/ps-vita.png',
                            'PSP':           'img/psp.png',
                            'PC': 'img/pc.png',
                            'Linux': 'img/linux.png',
                            'Web': 'img/Web.png',
                            'macOS': 'img/macOS.png',
                            'iOS': 'img/ios.png',
                            'Android': 'img/Android.png',
                            'Xbox Series S/X': 'img/Xbox Series SX.png',
                            'Xbox 360': 'img/Xbox 360.png',
                            'Xbox One': 'img/Xbox One.png',
                            'Xbox': 'img/xbox.png',
                            'Nintendo Switch': 'img/Nintendo Switch.png',
                            'Nintendo 3DS': 'img/Nintendo 3DS.png',
                            'Wii U': 'img/Wii U.png',
                            'Wii': 'img/Wii.png',
                            'GameCube': 'img/gameCube.png',
                            'Nintendo DSi ': 'img/Wii U.png',
                            'Nintendo DS ': 'img/Wii U.png',
                            'Game Boy Advance': 'img/Wii U.png',
                            'Game Boy Color': 'img/Wii U.png',
                            'Game Boy': 'img/Wii U.png',
                        } %}
                        
                        {% for element in gameDetail.platforms %}
                            {% set logo_path = platform_logos[element.platform.name] ?? '' %}
                            {% if logo_path %}
                                <div class="flex items-center justify-center border-2 border-[#ECC33E] bg-[#0C1D36] p-4 rounded-lg">
                                    <a href="{{ path('searchByPlatform', { id: element.platform.id }) }}"><img src="{{ asset(logo_path) }}" title="{{ element.platform.name }}" alt="{{ element.platform.name }} logo" class="h-12 object-contain hover:scale-125" /></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            
                <!-- Section 2 : Tags -->
                <section class="flex-1">
                    <h3 class="text-2xl font-bold text-[#0C1D36] mb-4">Tags</h3>
                    <div class="flex flex-wrap  justify-between gap-2">
                        {% for tag in gameDetail.tags %}
                            <span class="bg-[#0C1D36] border-2 border-[#ECC33E] px-3 py-1 rounded-full text-sm">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </section>

                <!-- Section notation -->
                <section>
                    <h3 class="text-2xl font-bold text-[#0C1D36] mb-3">Rating</h3>
                    <div class="flex items-center gap-6 justify-center border-2 border-[#ECC33E] bg-[#0C1D36] p-8 rounded-md">
                        {% if app.user %}
                            {{ form_start(scoreForm) }}
                            <div class="grid grid-cols-1 gap-3">
                                {% for category in ratingCategories %}
                                    {% set userScore = scores|filter(score => score.user == app.user and score.ratingCategory == category)|first %}
                                    <div class="flex items-center">
                                        <label for="{{ scoreForm['rating' ~ category.id].vars.id }}" class="mr-2 text-[#ECC33E] mb-5 text-xl">{{ category.name }} :</label>
                                        {{ form_widget(scoreForm['rating' ~ category.id], {
                                            'attr': {'class': 'w-12 text-center bg-gray-700 mb-5 text-white rounded text-sm'},
                                            'value': userScore ? userScore.note : null
                                        }) }} <p class='pl-1 text-sm mb-5'> out of 10 </p>
                                    </div>
                                {% endfor %}
                            </div>
                            <input type="hidden" name="game_id" value="{{ gameId }}">
                            <button type="submit" class="mt-3 bg-[#ECC33E] text-[#0C1D36] font-bold py-1 px-3 rounded text-sm hover:bg-[#D4AF37]">
                                Submit Ratings
                            </button>
                            {{ form_end(scoreForm) }}

                            <!-- Scores moyens -->
                            <section class="flex flex-col items-center justify-center my-4 gap-4  bg-[#0C1D36] rounded-md shadow-lg">
                                <div class="text-white text-center mb-2" style="text-align: -webkit-center;">
                                    <h3 class="text-xl text-[#ECC33E] font-bold mb-4">Average User</h3>
                                    <div class="relative w-36 h-36 flex items-center justify-center">
                                        <div class="circle circle-outer reverse absolute w-full h-full border-2 border-[#ECC33E] rounded-full"></div>
                                        <div class="circle circle-inner reverse absolute w-3/4 h-3/4 border-2 border-[#eeca56] rounded-full"></div>
                                        
                                        {% set scoreClass = '' %}
                                        {% if averageScoreUser >= 8 %}
                                            {% set scoreClass = 'text-green-800' %}
                                        {% elseif averageScoreUser >= 5 %}
                                            {% set scoreClass = 'text-orange-600' %}
                                        {% else %}
                                            {% set scoreClass = 'text-red-800' %}
                                        {% endif %}

                                        {% if averageScoreUser is defined and averageScoreUser is not null %}
 
                                        <h4 class="text-2xl font-extrabold z-10 {{ scoreClass }}">{{ averageScoreUser|number_format(2)  }}</h4>
                                        <h4 class="text-2xl text-white ml-1 font-extrabold z-10 "> / 10</h4>
                                        
                                        {% else %}

                                        <p>No rating</p>
                                        
                                        {% endif %}

                                    </div>
                                </div>
                                <div class=" text-white text-center " style="text-align: -webkit-center;">
                                    <h3 class="text-xl text-[#ECC33E] font-bold mb-4">Average Total</h3>
                                    <div class="relative w-36 h-36 flex items-center justify-center">
                                        <div class="circle circle-outer reverse absolute w-full h-full border-2 border-[#ECC33E] rounded-full"></div>
                                        <div class="circle circle-inner reverse absolute w-3/4 h-3/4 border-2 border-[#eeca56] rounded-full"></div>
                                        {% set scoreClass = '' %}
                                        {% if averageScore >= 8 %}
                                            {% set scoreClass = 'text-green-800' %}
                                        {% elseif averageScore >= 5 %}
                                            {% set scoreClass = 'text-orange-600' %}
                                        {% else %}
                                            {% set scoreClass = 'text-red-800' %}
                                        {% endif %}

                                        {% if averageScore is defined and averageScore is not null %}

                                        <h4 class="text-2xl font-extrabold z-10 {{ scoreClass }}">{{ averageScore|number_format(2)  }} </h4> 
                                        <h4 class="text-2xl text-white ml-1 font-extrabold z-10 "> / 10</h4>
                                        
                                        {% else %}

                                        <p>No rating</p>
                                        
                                        {% endif %}

                                    </div>
                                </div>
                            </section>
                        {% else %}
                            <p class="text-white text-sm">Please log in to rate this game.</p>
                        {% endif %}
                    </div>
                </section>
            </div>
            

            <h3 class="text-2xl font-bold text-[#0C1D36] my-5">Description</h3>
            <div class="bg-[#0C1D36] border-2 border-[#ECC33E] p-10 rounded-lg grid grid-cols-2 gap-4">
                <p class="text-justify">{{ gameDetail.description_raw|striptags|slice(0, (gameDetail.description_raw|length / 2)) | raw }}</p>
                <p class="text-justify">{{ gameDetail.description_raw|striptags|slice((gameDetail.description_raw|length / 2)) | raw }}</p>
            </div>


            
        </section>
    </section>

    <section class="w-4/5 gap-4 flex mx-auto">
        <div>
            <div class="flex my-5 justify-between">
                <h2 class="text-2xl font-bold text-[#0C1D36]">Commentaires</h2>
                <a href="{{ path('comment_new', {'id': gameDetail.id}) }}" class="bg-[#0C1D36] border-2 border-[#ECC33E] p-2 hover:bg-[#09172b] text-white text-2xl font-bold rounded"> Add a review </a>
            </div>
    
            {% for comment in comments %}
            <div class=" bg-[#0C1D36] border-2 border-[#ECC33E] p-6 rounded-lg mb-4">
                <p class="text-white">{{ comment.content }}</p>
                <div class=" flex justify-between items-end ">
                    <div class="mt-4 flex space-x-2">
                        <p class="text-white">De <a class="font-bold pr-2 text-[#ECC33E]" href="{{ path('lienProfile', { username: comment.user.username }) }}">{{ comment.user.username }}</a>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                    </div>
                    <div class="flex">
                        {% if app.user and (app.user.id == comment.user.id or is_granted('ROLE_ADMIN')) %}
                            <a href="{{ path('comment_edit', {'id': comment.id}) }}" class="text-blue-500 mr-3 hover:underline">Edit</a>
                            <form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" style="display:inline-block;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                <button class="text-red-500 hover:underline">Delete</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="container mx-auto px-4 py-8">
            <h2 class="text-2xl font-bold text-[#0C1D36] mb-6">Rating</h2>

            {% set currentUser = '' %}
            {% set currentGame = '' %}

            <div class="flex flex-wrap -mx-4">
                {% for score in scores|sort((a, b) => a.user.username <=> b.user.username) %}
                    {% if currentUser != score.user.username %}
                        {% if currentUser != '' %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}

                {% set currentUser = score.user.username %}
                {% set currentGame = '' %}
                
                {% set totalScore = 0 %}
                {% set count = 0 %}
                {% for userScore in scores %}
                    {% if userScore.user.username == currentUser %}
                        {% set totalScore = totalScore + userScore.note %}
                        {% set count = count + 1 %}
                    {% endif %}
                {% endfor %}
                
                <div class="w-full md:w-1/2 px-4 mb-6">
                    <div class="bg-[#09172b] border-b border-[#ECC33E] flex rounded shadow-lg">
                        <h3 class="text-xl font-bold text-[#ECC33E] bg-[#09172b] p-4 rounded-t-lg flex justify-between w-full">
                            <span>{{ score.user.username }}</span>
                            <span class="text-3xl font-bold text-[#ECC33E]">
                                {% if count > 0 %}
                                    {{ (totalScore / count)|number_format(2) }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </span>
                        </h3>
                    </div>


                    <div class="overflow-x-auto shadow-lg rounded-b-lg">
                        <table class="w-full bg-white">
                            <thead>
                                <tr class="bg-[#09172b] text-[#ebf1ff]">
                                    <th class="px-6 py-4 text-left">Category</th>
                                    <th class="px-6 py-4 text-left">Score</th>
                                </tr>
                            </thead>
                        <tbody>
                    {% endif %}

                    {% if currentGame != score.game.name %}
                        {% set currentGame = score.game.name %}
                        <tr class="bg-[#09172b] bg-opacity-20">
                            <td colspan="2" class="px-6 py-3 font-semibold">
                                {{ score.game.name }}
                            </td>
                        </tr>
                    {% endif %}

                    <tr class="border-t border-[#ECC33E] hover:bg-[#ECC33E]">
                        <td class="px-6 font-semibold py-4">{{ score.ratingCategory.name }}</td>
                        <td class="px-6 py-4 font-bold text-xl text-[#0C1D36]">{{ score.note }}</td>
                    </tr>

                {% if loop.last %}
                        </tbody>
                    </table>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
