{% extends 'base.html.twig' %}

{% block title %} Games {% endblock %}

{% block body %}

<div class="mx-auto  text-center bg-white">
    <section class="w-4/5 mx-auto">
        <section class=" mt-10 relative">
            <img src="{{gameDetail.background_image}}" alt="{{gameDetail.name}}" class="w-full rounded-lg shadow-lg opacity-100">
            <div class=" m-4 absolute inset-0 bg-black bg-opacity-50 rounded-lg p-4 flex flex-col justify-center">
                <h1 class="text-6xl mb-20 text-white text-shadow-lg">{{gameDetail.name}}</h1>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-5 text-white">

                    <div>    
                        <p class="font-bold text-yellow-500 text-[30px] "> Date de sortie :</p>
                        <p class="font-medium text-[20px]"> {{gameDetail.released|date("m/d/Y")}}</p>
                    </div>

                    <div>    
                        <p class="font-bold text-yellow-500 text-[30px]"> Éditeur(s):</p>
                        <p class="font-medium text-[20px]">
                            {% for editeur in gameDetail.publishers %}
                                {{ editeur.name|lower|capitalize }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>   

                    <div>
                        <p class="font-bold text-yellow-500 text-[30px]">Studio(s)</p>
                        <p class="font-medium text-[20px ">
                            {% for developer in gameDetail.developers %}
                                {{ developer.name|lower|capitalize }}<br>
                            {% endfor %}
                        </p>
                    </div>

                    <div>
                        <p class="font-bold text-yellow-500 text-[30px]">Genre(s)</p>
                        <p class="font-medium text-[20px]">
                            {% for genre in gameDetail.genres %}
                                {{ genre.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    
                    <div>
                        <p class="font-bold text-yellow-500 text-[30px]">Esrb</p>
                        <p class="font-medium text-[20px]">{{ gameDetail.esrb_rating.name|default('Not Rated') }}</p>
                    </div>
                    
                    <div>
                        <p class="font-bold text-yellow-500 text-[30px]">Metacritic</p>
                        <p class="font-medium text-[20px]">{{ gameDetail.metacritic }} sur 100</p>
                    </div>
                    
                    <div>
                        {% if gameDetail.metacritic_url %}
                            <p class="font-bold text-yellow-500 text-[30px]">Plateforme Metacritic</p>
                            <a class="text-white text-[20px] hover:text-yellow-500" href="{{ gameDetail.metacritic_url }}" >{{ gameDetail.name }}</a>
                        {% endif %}
                    </div>
                    
                    <div>
                        {% if gameDetail.website %}
                            <p class="font-bold text-yellow-500 text-[30px]">Site Web:</p>
                            <a href="{{ gameDetail.website }}" class="text-white text-[20px] hover:text-yellow-500">{{ gameDetail.name }}</a>
                        {% endif %}
                    </div>

                    <div class="text-center">
                        <p class="font-bold text-yellow-500 text-[30px]">Add to my favorites</p>
                        {% if app.user %}
                            <form class="mt-5" action="{{ path('games_favoris', {'gameId': gameDetail.id}) }}" method="post">
                                <input type="hidden" name="gameId" value="{{ gameDetail.id }}">
                                <input type="hidden" name="gameName" value="{{ gameDetail.name }}">
                                <input type="hidden" name="gameData" value="{{ gameDetail|json_encode }}">
                                <button class="text-5xl hover:text-red-600" type="submit">
                                    <i class="fa-sharp fa-solid fa-heart"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>

                    <div class="text-center">
                        <p class="font-bold text-yellow-500 text-[30px]">readyPlayed</p>
                        {% if app.user %}
                            <form class="mt-5" action="{{ path('games_readyPlayed', {'gameId': gameDetail.id}) }}" method="post">
                                <input type="hidden" name="gameId" value="{{ gameDetail.id }}">
                                <input type="hidden" name="gameName" value="{{ gameDetail.name }}">
                                <input type="hidden" name="gameData" value="{{ gameDetail|json_encode }}">
                                <button class="text-5xl hover:text-black " type="submit">
                                    <i class="fa-sharp fa-solid fas fa-plus"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <p class="font-bold text-yellow-500 text-[30px]">myDesires</p>
                        {% if app.user %}
                            <form class="mt-5" action="{{ path('games_myDesires', {'gameId': gameDetail.id}) }}" method="post">
                                <input type="hidden" name="gameId" value="{{ gameDetail.id }}">
                                <input type="hidden" name="gameName" value="{{ gameDetail.name }}">
                                <input type="hidden" name="gameData" value="{{ gameDetail|json_encode }}">
                                <button class="text-5xl hover:text-black " type="submit">
                                    <i class="fa-sharp fa-solid fas fa-plus"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>

                    <div class="text-center">
                        <p class="font-bold text-yellow-500 text-[30px]">goTest</p>
                        {% if app.user %}
                            <form class="mt-5" action="{{ path('games_goTest', {'gameId': gameDetail.id}) }}" method="post">
                                <input type="hidden" name="gameId" value="{{ gameDetail.id }}">
                                <input type="hidden" name="gameName" value="{{ gameDetail.name }}">
                                <input type="hidden" name="gameData" value="{{ gameDetail|json_encode }}">
                                <button class="text-5xl hover:text-black " type="submit">
                                    <i class="fa-sharp fa-solid fas fa-plus"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>

                </div>
            </div>
        </section>
    </section>

    <section class=" bg-black mb-10 w-4/5 mx-auto">
        <!-- Section des plateformes -->
        <h3 class=" text-[30px] my-5 font-bold text-yellow-500 text-center">Plateforme(s) : </h3>
        <div class="grid grid-cols-4 justify-items-center">
                {% set platform_logos = {
                'PlayStation 1': 'img/ps1.png',
                'PlayStation 2': 'img/ps2.png',
                'PlayStation 3': 'img/ps3.png',
                'PlayStation 4': 'img/ps4.png',
                'PlayStation 5': 'img/ps5.png',
                'PS Vita':       'img/ps-vita.png',
                'PSP':           'img/psp.png',
                'PC': 'img/pc.png',
                'Linux': 'img/linux.png',
                'Web': 'img/Web.png',
                'macOS': 'img/macOS.png',
                'iOS': 'img/ios.png',
                'Android': 'img/Android.png',
                'Xbox Series S/X': 'img/Xbox Series SX.png',
                'Xbox 360': 'img/Xbox 360.png',
                'Xbox One': 'img/Xbox One.png',
                'Xbox': 'img/xbox.png',
                'Nintendo Switch': 'img/Nintendo Switch.png',
                'Nintendo 3DS': 'img/Nintendo 3DS.png',
                'Wii U': 'img/Wii U.png',
                'Wii': 'img/Wii.png',
                'GameCube': 'img/gameCube.png',
                
                'Nintendo DSi ': 'img/Wii U.png',
                'Nintendo DS ': 'img/Wii U.png',
                'Game Boy Advance': 'img/Wii U.png',
                'Game Boy Color': 'img/Wii U.png',
                'Game Boy': 'img/Wii U.png',
                'Nintendo 64': 'img/Wii U.png',
                'SNES': 'img/Wii U.png',
                'Wii U': 'img/Wii U.png',
                'NES': 'img/Wii U.png',
                } %}

            {% for element in gameDetail.platforms %}
            <div class="flex items-center justify-center">
                {% set logo_path = platform_logos[element.platform.name] ?? '' %}
                {% if logo_path %}
                <img src="{{ asset(logo_path) }}" title="{{ element.platform.name }}" alt="{{ element.platform.name }} logo" />
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <!-- Section des tags -->
        <div class="mt-5">
            <h3 class="font-bold my-5 text-[30px] text-yellow-500 text-center"> Tag(s) : </h3>
            <p class="font-medium text-lg text-white grid grid-cols-3">
                {% for tag in gameDetail.tags %}
                    <span>{{ tag.name }}</span>
                {% endfor %}
            </p>
        </div>

        <!-- Section de la description et des vidéos -->
        <section class="m-10">
            <!-- Bande d'annonce -->
            <div>
                <h3 class="text-[30px] my-5 font-bold text-yellow-500">Bande d'annonce</h3>
                <div class="flex gap-5 justify-center w-100 h-1/2">
                    {% set count = 0 %}
                    {% for trailer in gameAnnonce.results %}
                        {% if count < 2 %}
                        <iframe src="{{ trailer.data.max }}" title="Video trailer" class="w-[50%] h-[300px]"></iframe>
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
            <!-- Description du jeu -->
        <section class="mt-5">
            <div class="bg-gray-800 p-5 rounded-lg">
                <h3 class="text-[30px] font-bold mb-2 text-yellow-500">Description</h3>
                <p class="text-white">
                    {% set cleaned_description = gameDetail.description_raw|replace({'<p>': '', '</p>': ''}) %}
                    {{ cleaned_description|raw }}
                </p>
            </div>
        </section>
    </section>
</div>

{% endblock %}
