{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}

    <div class="container-recherche-jeux">
       <form class="recherche-form-jeux" action="{{ path('search') }} " id="searchthis" method="post">
        <input class="recherche" id="search" name="input" type="text" placeholder="Rechercher un jeu" />
        <input id="search-btn" name="submit" type="submit" value="Rechercher">
      </form>
    </div>


<div class="container-jeux">
    <div class="game-card-container">
        {% for game in games.results %}
            <div class="game-card">
                <div class="game-card-header">
                    <h3>{{ game.name }}</h3>
                </div>
                    <img class="game-card-image" src="{{ game.background_image }}" alt="{{ game.name }}">
                    <div class="game-card-body">
                </div>

                <div>

                </div>
                
                <div class="button-container">
                    {% if app.user %}
                    <a href="{{ path('detail_jeu', {'id': game.id}) }}" class="detail-button">Détail</a> 
                    <button class="increment-button"><span class="counter-value">0</span></button>
                    <a href="#" class="favorite-button"> <i class="fas fa-heart"></i> </a>
                {% else %}
                    <a href="{{ path('detail_jeu', {'id': game.id}) }}" class="detail-buttonDeux">Détail</a> 
                {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    {% if currentPage is defined %}
        
    
    {% if currentPage > 1 %}
        <a href="{{ path('jeux_page', { 'page': currentPage - 1 }) }}">Page précédente</a>
    {% endif %}

    <span>Page {{ currentPage }}</span>

    <a href="{{ path('jeux_page', { 'page': currentPage + 1 }) }}">Page suivante</a>
    {% endif %}
</div>

{% endblock %}

