{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}
<div class="container-search-jeux">
    <section class="section-recherche-jeux">
        <form class="recherche-form-jeux" action="{{ path('search') }}" id="searchthis" method="post">
            <input class="recherche" id="search" name="input" type="text" placeholder="Rechercher un jeu"/>
            <input id="search-btn" name="submit" type="submit" value="Rechercher">
        </form>
    </section>

    <section class="container-console">
        <form class="recherche-form-jeux">
        
            <div class="dropdown">
                <button class="dropbtn" data-dropdown="playstationDropdown">PlayStation</button>
                    <div id="playstationDropdown" class="dropdown-content">
                        <a href="{{ path('searchByPlatform', {'id': 187 }) }}"> PlayStation 5 </a>
                        <a href="{{ path('searchByPlatform', {'id': 18  }) }}"> PlayStation 4 </a>
                        <a href="{{ path('searchByPlatform', {'id': 16  }) }}"> PlayStation 3 </a>
                        <a href="{{ path('searchByPlatform', {'id': 15  }) }}"> PlayStation 2 </a>
                        <a href="{{ path('searchByPlatform', {'id': 27  }) }}"> PlayStation   </a>
                        <a href="{{ path('searchByPlatform', {'id': 19  }) }}"> PS VITA       </a> 
                        <a href="{{ path('searchByPlatform', {'id': 17  }) }}"> PSP           </a> 
                    </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn" data-dropdown="xboxDropdown">Xbox</button>
                    <div id="xboxDropdown" class="dropdown-content">
                        <a href="{{ path('searchByPlatform', {'id': 186 }) }}"> Xbox Series X/S </a>
                        <a href="{{ path('searchByPlatform', {'id': 1   }) }}"> Xbox One        </a>
                        <a href="{{ path('searchByPlatform', {'id': 14  }) }}"> Xbox 360        </a>
                        <a href="{{ path('searchByPlatform', {'id': 80  }) }}"> Xbox            </a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn" data-dropdown="nintendoDropdown">Nintendo</button>
                    <div id="nintendoDropdown" class="dropdown-content">
                        <a href="{{ path('searchByPlatform', {'id':   7 }) }}"> Nintendo Switch  </a>
                        <a href="{{ path('searchByPlatform', {'id':  10 }) }}"> Wii U            </a>
                        <a href="{{ path('searchByPlatform', {'id':  11 }) }}"> Wii              </a>
                        <a href="{{ path('searchByPlatform', {'id': 105 }) }}"> GameCube         </a>
                        <a href="{{ path('searchByPlatform', {'id':   8 }) }}"> Nintendo 3DS     </a>
                        <a href="{{ path('searchByPlatform', {'id':  13 }) }}"> Nintendo DSi     </a>
                        <a href="{{ path('searchByPlatform', {'id':   9 }) }}"> Nintendo DS      </a>
                        <a href="{{ path('searchByPlatform', {'id':  24 }) }}"> Game Boy Advance </a>
                        <a href="{{ path('searchByPlatform', {'id':  43 }) }}"> Game Boy Color   </a>
                        <a href="{{ path('searchByPlatform', {'id':  23 }) }}"> Game Boy         </a>
                        <a href="{{ path('searchByPlatform', {'id':  83 }) }}"> Nintendo 64      </a>
                        <a href="{{ path('searchByPlatform', {'id':  79 }) }}"> SNES             </a>
                        <a href="{{ path('searchByPlatform', {'id':  49 }) }}"> NES              </a>
                        <a href="{{ path('searchByPlatform', {'id':  24 }) }}"> Game Boy Advance </a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn" data-dropdown="pcDropdown">PC</button>
                    <div id="pcDropdown" class="dropdown-content">
                        <a href="{{ path('searchByPlatform', {'id':   4 }) }}"> Windows </a>
                        <a href="{{ path('searchByPlatform', {'id':   6 }) }}"> Linux   </a>
                        <a href="{{ path('searchByPlatform', {'id':   4 }) }}"> MacOs   </a>
                        <a href="{{ path('searchByPlatform', {'id': 171 }) }}"> Web     </a>
                    </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn" data-dropdown="mobileDropdown">Mobile</button>
                    <div id="mobileDropdown" class="dropdown-content">
                        <a href="{{ path('searchByPlatform', {'id':  3 }) }}"> iOS      </a>
                        <a href="{{ path('searchByPlatform', {'id': 21 }) }}"> Android </a>
                        <a href="{{ path('searchByPlatform', {'id':  5 }) }}"> MacOs   </a>
                    </div>
            </div>
        </form>
    </section>
</div>


<div class="container-jeux">
    <div class="game-card-container">
        {% for game in games.results %}
            <div class="game-card">
                <div class="game-card-header">
                    <h3>{{ game.name }}</h3>
                </div>
                    <img class="game-card-image" src="{{ game.background_image }}" alt="{{ game.name }}">
                    <div class="game-card-body">
                </div>

                <div class="platforms">
                    <div class="platform">
                        {% set platform_logos = {
                            'PlayStation 1': 'img/ps1.png',
                            'PlayStation 2': 'img/ps2.png',
                            'PlayStation 3': 'img/ps3.png',
                            'PlayStation 4': 'img/ps4.png',
                            'PlayStation 5': 'img/ps5.png',
                            'PS Vita': 'img/ps vita.png',
                            'PSP': 'img/psp.png',
                            'PC': 'img/pc.png',
                            'Linux': 'img/linux.png',
                            'Web': 'img/Web.png',
                            'macOS': 'img/macOS.png',
                            'iOS': 'img/ios.png',
                            'Android': 'img/Android.png',
                            'Xbox Series S/X': 'img/Xbox Series SX.png',
                            'Xbox 360': 'img/Xbox 360.png',
                            'Xbox One': 'img/Xbox One.png',
                            'Xbox': 'img/xbox.png',
                            'Nintendo Switch': 'img/Nintendo Switch.png',
                            'Nintendo 3DS': 'img/Nintendo 3DS.png',
                            'Wii U': 'img/Wii U.png',
                            'Wii': 'img/Wii.png',
                            'GameCube': 'img/gameCube.png',
                            
                            'Nintendo DSi ': 'img/Wii U.png',
                            'Nintendo DS ': 'img/Wii U.png',
                            'Game Boy Advance': 'img/Wii U.png',
                            'Game Boy Color': 'img/Wii U.png',
                            'Game Boy': 'img/Wii U.png',
                            'Nintendo 64': 'img/Wii U.png',
                            'SNES': 'img/Wii U.png',
                            'Wii U': 'img/Wii U.png',
                            'NES': 'img/Wii U.png',
                        } %}
                
                        {% for platform in game.platforms %}

                            <div class="platform-item">
                                
                                {% set logo_path = platform_logos[platform.platform.name] ?? '' %}

                                {% if logo_path %}

                                    <img style="width: 30px;" src="{{ asset(logo_path) }}" title="{{ platform.platform.name}} " alt="{{ platform.platform.name}} logo" />

                                {% endif %}

                            </div>

                        {% endfor %}

                    </div>

                </div>
                
                <div class="button-container">

                    <a href="{{ path('detail_jeu', {'id': game.id}) }}" class="detail-button">Détail</a> 

                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">

    {% if currentPage is defined %}

        {% if token is defined and token is same as 'platform' %}

            {% if currentPage > 1 %}

                <a href="{{ path('jeux_page', { 'page': currentPage - 1 }) }}">Page précédente</a>

                {% endif %}

                    <span>Page {{ currentPage }}</span>
                    <a href="{{ path('jeux_page', { 'page': currentPage + 1 }) }}">Page suivante</a>

                    {% else %}

                
                {% if currentPage > 1 %}

                    <a href="{{ path('jeux_page', { 'page': currentPage - 1 }) }}">Page précédente</a>

                {% endif %}

                    <span>Page {{ currentPage }}</span>
                    <a href="{{ path('jeux_page', { 'page': currentPage + 1 }) }}">Page suivante</a>

            {% endif %}

    {% endif %}
</div>

{% endblock %}

