{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}

    <!
        * Affiche un formulaire de recherche pour les jeux.
        * Le formulaire permet aux utilisateurs de saisir une requête de recherche et de la soumettre à la route 'search'.
        * Le champ de saisie de recherche et le bouton de soumission sont affichés dans une section avec la classe 'section-recherche-jeux'.
    > 

<div class="container-search-jeux">

    <div class="search-container">
        <form class="search-form" action="{{ path('search') }}" id="searchthis" method="post">
            <input class="search-input" id="search" name="input" type="text" placeholder="Search for a game" />
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </form>
    </div>

    <! 
        * Affiche un menu déroulant pour sélectionner une catégorie de plateforme de jeu.
        * Le menu déroulant contient une liste de sous-catégories pour la catégorie de plateforme sélectionnée,
        * chacune avec un lien pour rechercher des jeux dans cette sous-catégorie.
        * Le menu déroulant est affiché dans un formulaire de recherche de jeux.
        * Le formulaire inclut également un lien vers la page d'administration.
    > 
{# 
    <section class="container-console">
        <form class="recherche-form-jeux">
            {% for category in categories %}
                <div class="dropdown">
                    <button class="dropbtn" data-dropdown="dropdown-{{ category.id }}">{{ category.name }}</button>
                    <div id="dropdown-{{ category.id }}" class="dropdown-content">
                        {% for sousCategory in category.category %}
                            <a href="{{ path('searchBySousCategory', {'id': sousCategory.id}) }}">{{ sousCategory.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </form>
        <a href="{{ path('admin') }}"> <img src="img/apps-add.png" alt=""></a>
    </section> #}

</div>

    <! 
        * Affiche un conteneur pour une liste de cartes de jeux, chacune représentant un jeu.
        * Le conteneur inclut une mise en page en grille pour les cartes de jeux, chaque carte affichant le nom du jeu, 
        * son image et les icônes des plateformes.
        * Chaque carte de jeu comprend également un bouton "Détail" qui renvoie vers la page de détails du jeu.
    > 
<div class="all-container-jeux">
    <div class="container-jeux">
        <div class="game-card-container">
            {% for game in games.results %}
                <div class="game-card">
                    <div class="game-card-header">
                        <h3>{{ game.name }}</h3>
                    </div>
                        <img class="game-card-image" src="{{ game.background_image }}" alt="{{ game.name }}">
                        <div class="game-card-body">
                    </div>
                    <div class="platforms">
                        <div class="platform">
                            {% set platform_logos = {
                                'PlayStation 1': 'img/ps1.png',
                                'PlayStation 2': 'img/ps2.png',
                                'PlayStation 3': 'img/ps3.png',
                                'PlayStation 4': 'img/ps4.png',
                                'PlayStation 5': 'img/ps5.png',
                                'PS Vita': 'img/ps vita.png',
                                'PSP': 'img/psp.png',
                                'PC': 'img/pc.png',
                                'Linux': 'img/linux.png',
                                'Web': 'img/Web.png',
                                'macOS': 'img/macOS.png',
                                'iOS': 'img/ios.png',
                                'Android': 'img/Android.png',
                                'Xbox Series S/X': 'img/Xbox Series SX.png',
                                'Xbox 360': 'img/Xbox 360.png',
                                'Xbox One': 'img/Xbox One.png',
                                'Xbox': 'img/xbox.png',
                                'Nintendo Switch': 'img/Nintendo Switch.png',
                                'Nintendo 3DS': 'img/Nintendo 3DS.png',
                                'Wii U': 'img/Wii U.png',
                                'Wii': 'img/Wii.png',
                                'GameCube': 'img/gameCube.png',
                                
                                'Nintendo DSi ': 'img/Wii U.png',
                                'Nintendo DS ': 'img/Wii U.png',
                                'Game Boy Advance': 'img/Wii U.png',
                                'Game Boy Color': 'img/Wii U.png',
                                'Game Boy': 'img/Wii U.png',
                                'Nintendo 64': 'img/Wii U.png',
                                'SNES': 'img/Wii U.png',
                                'Wii U': 'img/Wii U.png',
                                'NES': 'img/Wii U.png',
                            } %}
                    
                            {% for platform in game.platforms %}
                                <div class="platform-item">
                                    {% set logo_path = platform_logos[platform.platform.name] ?? '' %}
                                    {% if logo_path %}
                                        <img style="width: 30px;" src="{{ asset(logo_path) }}" title="{{ platform.platform.name}} " alt="{{ platform.platform.name}} logo" />
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="button-container">
                        <a href="{{ path('detail_jeu', {'id': game.id}) }}" class="detail-button">Détail</a> 
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    </div>

        <!
            * Affiche un composant de pagination pour la page des jeux.
            * Le composant de pagination inclut des liens pour naviguer vers les pages précédente et suivante,
            * ainsi que le numéro de la page actuelle.
            * Le comportement du composant de pagination dépend de la présence du paramètre 'token'
            * défini comme 'platform', ce qui indique que la page est filtrée par plateforme.
        > 

    <div class="paginationApi">
        {% if currentPage is defined %}
            {% if token is defined and token is same as 'platform' %}
                {% if currentPage > 1 %}
                    <a href="{{ path('jeux_page', { 'page': currentPage - 1 }) }}">Page précédente</a>
                    {% endif %}
                        <span>Page {{ currentPage }}</span>
                        <a href="{{ path('jeux_page', { 'page': currentPage + 1 }) }}">Page suivante</a>
                        {% else %}
                    {% if currentPage > 1 %}
                        <a href="{{ path('jeux_page', { 'page': currentPage - 1 }) }}">Page précédente</a>
                    {% endif %}
                        <span>Page {{ currentPage }}</span>
                        <a href="{{ path('jeux_page', { 'page': currentPage + 1 }) }}">Page suivante</a>
                {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

