{% extends 'base.html.twig' %}

{% block title %}FORUM - POST{% endblock %}

{% block body %}

<div class='flex p-12'>  
    <section class="flex">
        <table>
            {# Boucle à travers chaque catégorie #}
            {% for category in categories %}
            <tr>
                <td class='text-4xl pb-5 pt-5 text-[#ECC33E] hover:text-[#ebf1ff]'>
                    {# Lien vers le topic correspondant avec l'identifiant de la catégorie #}
                    <a href="{{ path('topic', { categoryId: category.id, id: category.id }) }}">
                        {{ category.name|upper }} {# Affiche le nom des catégories #}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>  
    </section>

    <!-- Séparateur entre les sections -->
    <section class="ml-7"> 
        <div class="border-l-2 border-[#ebf1ff] h-full flex"></div>  
    </section>

    <section>
        {# Boucle à travers chaque post #}
        {% for post in posts %}
            <div class="bg-[#dbe1f0] text-[#000000] rounded bg-[#ebf1ff] m-3 p-3 hover:bg-[#09172b] hover:text-[#ebf1ff]">
                <h3 class="font-black text-2xl mb-5">{{ post.topic.title }}</h3>
                <p class="text-justify">{{ post.content }}</p>

                <div class="flex items-center justify-between">
                    <p class="mr-5">By {{ post.user.pseudo }} - {{ post.createdAt | date('Y m d') }}</p>

                    <div class="flex space-x-2">
                        {# Bouton pour modifier le post #}
                        <a href="{{ path('post_edit', { id: post.id }) }}" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600">Edit</a>
                        {# Formulaire pour supprimer le post avec confirmation #}
                        <form action="{{ path('delete_post', { id: post.id }) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                            <button type="submit" class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun post disponible.</p>
        {% endfor %}
    </section>
</div>


<section class="text-center p-4">
    {# Lien pour créer un nouveau post dans le topic actuel #}
    <a href="{{ path('new_post', { topicId: topic.id, categoryId: category.id }) }}" class="bg-[#ebf1ff] text-[#0C1D36] py-2 px-4 rounded hover:bg-[#ECC33E] transition duration-200">
        NEW POST
    </a>
</section>


{% endblock %}
