{% extends 'base.html.twig' %}

{% block title %} FORUM - TOPIC {% endblock %}

{% block body %}

<div>
    <section>
        <table>   
            {% for category in categories %}
            <tr>
                <td> <a href="{{path('topic', {id:category.id})}}"> {{category.name}} </a> </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section class="container_topic">
        <div>
            <table>  
                {% for topic in topics %}
                <tr>
                    <td> 
                        <a href="{{path('post', {id:topic.id})}}"> {{ topic.title }} </a> </td>
                        <td> {{ topic.createdAt | date ('d/m/Y H:i') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</div>


{% endblock %}